<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
    <div class="side-bar-header">
     <div class="header-name">
       <a href="#">Atsushi</a>
     </div>
     <div class="create-room">
      <a href="#">チャットを作成する</a>
     </div>
    </div>
    <div class="rooms">
     <div class="room">
      <div class="room-name">
       <a href="#">room1</a>
      </div> 
     </div> 
     <div class="room">
      <div class="room-name">
       <a href="#">room2</a>
      </div> 
     </div> 
     <div class="room">
      <div class="room-name">
       <a href="#">room3</a>
      </div> 
     </div> 
     <div class="room">
      <div class="room-name">
       <a href="#">room4</a>
      </div> 
     </div> 
     <div class="room">
      <div class="room-name">
       <a href="#">room5</a>
      </div> 
     </div> <div class="room">
      <div class="room-name">
       <a href="#">room6</a>
      </div> 
     </div> 
     <div class="room">
      <div class="room-name">
       <a href="#">room7</a>
      </div> 
     </div> 
     <div class="room">
      <div class="room-name">
       <a href="#">room8</a>
      </div> 
     </div> 
     <div class="room">
      <div class="room-name">
       <a href="#">room9</a>
      </div> 
     </div> 
     <div class="room">
      <div class="room-name">
       <a href="#">room10</a>
      </div> 
     </div> 
     
      
     
    </div>
  </div>
  <div class="chat">
       <%= render "main_chat" %> 
    <div class="chat-header">
     <div class="left-header">
      <div class="header-title">
       hogefuga
      </div>
     </div>
     <div class="right-header">
      <div class="header-button">
       <a href="#">チャットを終了する</a>
      </div>
     </div>
    </div>
    <div class="messages">
      <div class="message">
        <div class="message-name">
         <div class="name">ATSUSHI
         </div>
         <div class="time">
          2021/11/3(Tue)17:00
         </div>
        </div>
       <div class="message-text">おはよう
       </div>  
      </div>
    </div>
    <div class="form">
     <div class="form-input">
      <input class="form-message" placeholder= "type a message">
      <label class="form-image">
       <span class="image-file">画像</span>
       <input type="file" class="hidden">
      </label>
     </div>
     <input class="form-submit" type="submit" value="送信">
    </div>
  </div>
</div>
